@import url("https://fonts.googleapis.com/css2?family=Cairo&display=swap");
@tailwind base;
@tailwind components;
@tailwind utilities;

* {
  font-family: "Cairo", sans-serif;
}

.main {
  background-image: url('../public/bg.png');
  font-family: "BinancePlex,Arial,sans-serif!important";
  width: 100vw;
  background-size: cover;
  background-repeat: no-repeat;
  min-height: 100vh;
  
}
.loader {
  width: 4px;
  height: 10px;
  border-radius: 4px;
  display: block;
  margin: 12px auto;
  position: relative;
  background: currentColor;
  color: black;
  box-sizing: border-box;
  animation: animloader 0.6s 0.6s linear infinite alternate;
}

.loader::after,
.loader::before {
  content: "";
  width: 4px;
  height: 10px;
  border-radius: 4px;
  background: currentColor;
  position: absolute;
  top: 20%;
  transform: translateY(-40%);
  left: 10px;
  box-sizing: border-box;
  animation: animloader 1s 0.6s linear infinite alternate;
}
.loader::before {
  left: -10px;
  animation-delay: 0.1s;
}

@keyframes animloader {
  0% {
    height: 30px;
  }
  100% {
    height: 2px;
  }
}

@media (max-width: 768px) {
    .main{
      background-image: url('../public/bg-sm.png');
    }
}

